php_value display_errors 1
php_value display_startup_errors 1
php_value error_reporting E_ALL
AddDefaultCharset UTF-8
php_value max_execution_time 86400
php_value memory_limit 128M
RewriteEngine On
RewriteRule .* - [E=noconntimeout:1]